body { 
    background-color:black;


}    
 @keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.stage {
  background: black;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.stage:hover .ball {
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}
.whatever {
    color:white;
    position:relative;
    right:-400;

    
}    
 @keyframes slidee {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.stagee {
  background: black;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.stagee:hover .balll {
  animation-name: slidee;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.balll {
  background: pink;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;

}
@keyframes slideee {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }

}
.stageee {
  background: black;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.stageee:hover .ballll {
  animation-name: slidee;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.ballll {
  background: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;

}