body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  font-size:200;
  background-color: white; 
  
}
h1 {
	Color:black;
	top: -1%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size:300;

	
}
.whatever {
	bottom: 7000%;
	right: 700%;
	transform: translate(-50%,-50%);
	position:relative;
	text-align:center;

}


.triangle-one {
	width: 200px;
	height: 100px;
	background: red;
	border:10px dashed black;
	transition:all 2s;
	bottom:-40%;
	right:50px;
	position: absolute;
	

}
	.triangle-one:hover {
    width: 300px;
    height: 100px;
    background-color: orange;
    border:dashed white;
    line-height: 170px;
    color: white;
	}
	
	
	
.triangle-two {
	background: lightblue;
	width:100px;
	height:100px;
	border-radius:100%;
	transition:all 2s;
	bottom:3%;
	left:10%;
	position: absolute;
	
}
.triangle-two p{
	text-align:center;
	color:white;
}	

.triangle-two a {
	
}
	.triangle-two:hover {
    width: 200px;
    height: 200px;
    background-color: pink;
    line-height: 170px;
    color: white;

	
}
.triangle-three {
	background:orange;
    width: 350px;
    height: 350px;
	bottom:-30%;
	right:40%;
	position: absolute;
    background-color: pink;
    animation-name: rotate;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        float:right;
        
		}
}
.triangle-four {

	width:150px;
	height:150px;

	transition:all 2s;
	background: #f36d00;
	bottom:375px;
	left:80px;
	position: absolute;
	
}

	.triangle-four:hover {

    background-color: pink;
    line-height: 170px;
    color: white;
    background-image: url(../firee.jpeg);

    
	}
	
	
	.triangle-five {

	width:200px;
	height:200px;
	border-radius:100%;
	transition:all 2s;
	background: green;
	bottom:20px;
	right:25px;
	position: absolute;
	
	}
	
	.triangle-five:hover {
    width: 275px;
    height: 275px;
    background-color: red;
    position: absolute;

	}
	
	
		
		
	.triangle-six {

	width:250px;
	height:250px;
	transition:all 2s;
	background: red;
	bottom:50%;
	left:40%;
	position: absolute;
	
	}
	
	.triangle-six:hover {
	width:250px;
	height:250px;
    position: absolute;
    background: black;
    line-height: 170px;
	

	}
	
	.triangle-seven {

	width:400px;
	height:400px;
	border-radius:100%;
	transition:all 2s;
	background: #eab8f7;
	top:3%;
	right:30px;
	position: absolute;

	
	}
	
	
	.triangle-seven:hover {

width:400px;
	height:400px;
	border-radius:100%;

background: -webkit-linear-gradient(#e722e7,#ffffff );


	}